body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.button { 
    background-color: #286699;
    color: white;
    width: 10%; 
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px; 
    cursor: pointer;  /*mouse cursors*/
}

.button:hover{
    background-color: rgb(16, 59, 99);
}
